html, body {
    height: 100%
}

#root, #root > div {
    height: 100vh;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

.mapboxgl-popup-close-button, .maplibregl-popup-close-button {
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
}

.mapboxgl-popup-content, .maplibregl-popup-content{
    border-radius: 15px;
    padding: 5px 10px;
}
